{% extends "base.html" %}
{% block content %}
  <h2>로그인</h2>
  <h4>{%if msg%}{{msg}}{%endif%}</h4>
  <!-- {% if is_ok }
  <p class="text-center text-success">로그인 성공({ user.username }})</p> user는 안넘김 views.py 에서 -->
  {% if is_ok or user.is_authenticated %}
  <p class="text-center text-sm text-success">로그인 성공({{ user.username }})
    <a href="{% url 'logout' %}" class="text-primary">로그아웃</a>
  </p>
  {% endif %}
  <form method="post">
    {% csrf_token %} 
    <div class="form-group">{{form.email}}</div>
    <div class="form-group">{{form.password}}</div>
    <div class="custom-control custom-checkbox">
      {{ form.remember_me }}
      <label for="_loginRememberMe" class="custom-control-label"> <!--form: for:'_login...'-->
        <span>로그인 유지하기</span>
      </label> 
    </div>
    <button type="submit">로그인</button>
  </form>
  <p>
    <a href="{% url 'index' %}">홈으로</a>
    <a href="{% url 'register' %}">회원가입</a>
  </p>
{% endblock %}